@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap&subset=cyrillic-ext");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

@font-face {
  font-family: "19849";
  font-display: swap;
  src: url("../fonts/19849.woff") format("woff"), url("../fonts/19849.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "20085";
  font-display: swap;
  src: url("../fonts/20085.woff") format("woff"), url("../fonts/20085.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "20076";
  font-display: swap;
  src: url("../fonts/20076.woff") format("woff"), url("../fonts/20076.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat';
}

.siteContent {
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  background-color: #080e0e;
}

.button-block {
  z-index: 5;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.button-block__up {
  cursor: pointer;
  width: 70px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-block__up svg {
  fill: white;
}

.button-block__up:hover {
  -webkit-transform: rotate(180deg) scale(1.3);
      -ms-transform: rotate(180deg) scale(1.3);
          transform: rotate(180deg) scale(1.3);
}

.button-block__up:hover svg {
  fill: #98f8ff;
}

.button-block__up:active svg {
  fill: blue;
}

.button-block__down {
  color: wheat;
  cursor: pointer;
  width: 70px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-block__down svg {
  fill: white;
}

.button-block__down:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.button-block__down:hover svg {
  fill: #98f8ff;
}

.button-block__down:active svg {
  fill: blue;
}

.header {
  padding: 10px 20px;
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  padding: 20px;
}

.nav-header__item {
  font-family: 'Montserrat';
  cursor: pointer;
  font-size: 20px;
  color: rgba(221, 253, 253, 0.795);
  margin-right: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-color: rgba(255, 0, 0, 0);
}

.nav-header__item:hover {
  font-weight: 600;
}

.nav-header__item:nth-last-child(5n) {
  margin-right: 50px;
}

.nav-header__item:hover {
  font-weight: 600;
  color: #ddfdfd;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__lines {
  position: relative;
  height: 16px;
}

.menu__hide-menu {
  color: #98f8ff;
  padding: 50px 0px;
  position: fixed;
  left: 100vw;
  top: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  font-weight: 600;
  background: #77787ade;
}

.menu__hide-menu li {
  list-style-type: none;
}

.menu__link {
  color: #98f8ff;
}

.banner {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  overflow: hidden;
  font-size: 70px;
  color: #ddfdfd;
}

.banner__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.banner__animation {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.banner__title {
  width: 50%;
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
}

.banner__photo {
  z-index: 2;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner__photoInner {
  width: 100%;
}

.banner__photoInner img {
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #1d3945;
  overflow: hidden;
}

.block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  height: 200vh;
  color: #ddfdfd;
}

.block-left {
  position: relative;
  width: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

.block-right {
  position: relative;
  width: 50%;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

.about__texthide {
  display: none;
}

.left1 {
  height: 50%;
  background-color: #181818;
}

.left1__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left1__title {
  font-size: 50px;
  margin: 0 auto 50px;
  font-weight: 500;
  color: #ddfdfd;
  padding-top: 50px;
  padding-left: 60px;
}

.visual-resume {
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.visual-resume__block {
  width: 100%;
}

.visual-resume__title {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Balsamiq Sans', cursive;
}

.visual-resume__blockTitle {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Balsamiq Sans', cursive;
  text-transform: uppercase;
}

.visual-resume__html {
  margin-bottom: 20px;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 5px;
  -webkit-box-shadow: 0 0 10px #2187e7b3;
          box-shadow: 0 0 10px #2187e7b3;
}

.visual-resume__html._active .visual-resume__htmlInner {
  width: 90%;
}

.visual-resume__htmlInner {
  height: 4px;
  width: 0%;
  background-color: #c3ffff;
  border-radius: 3px;
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
  -webkit-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
}

.visual-resume__css {
  margin-bottom: 20px;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 5px;
  -webkit-box-shadow: 0 0 10px #2187e7b3;
          box-shadow: 0 0 10px #2187e7b3;
}

.visual-resume__css._active .visual-resume__cssInner {
  width: 60%;
}

.visual-resume__cssInner {
  height: 4px;
  width: 0%;
  border-radius: 3px;
  background-color: #c3ffff;
  -webkit-transition-delay: 1.9s;
       -o-transition-delay: 1.9s;
          transition-delay: 1.9s;
  -webkit-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
}

.visual-resume__js {
  margin-bottom: 20px;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 5px;
  -webkit-box-shadow: 0 0 10px #2187e7b3;
          box-shadow: 0 0 10px #2187e7b3;
}

.visual-resume__js._active .visual-resume__jsInner {
  width: 50%;
}

.visual-resume__jsInner {
  height: 4px;
  width: 0%;
  border-radius: 3px;
  background-color: #c3ffff;
  -webkit-transition-delay: 1.9s;
       -o-transition-delay: 1.9s;
          transition-delay: 1.9s;
  -webkit-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
}

.visual-resume__wordpress {
  margin-bottom: 20px;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 5px;
  -webkit-box-shadow: 0 0 10px #2187e7b3;
          box-shadow: 0 0 10px #2187e7b3;
}

.visual-resume__wordpress._active .visual-resume__wordpressInner {
  width: 30%;
}

.visual-resume__wordpressInner {
  height: 4px;
  width: 0%;
  border-radius: 3px;
  background-color: #c3ffff;
  -webkit-transition-delay: 1.9s;
       -o-transition-delay: 1.9s;
          transition-delay: 1.9s;
  -webkit-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
}

.left2 {
  padding: 20px;
  height: 50%;
  background-color: #181818;
}

.left2__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left2__title {
  font-size: 50px;
  margin: 0 auto 50px;
  font-weight: 500;
  color: #ddfdfd;
  padding-top: 50px;
  padding-left: 60px;
}

.left2__pic {
  border-radius: 5px;
  overflow: hidden;
  width: 38%;
  min-width: 350px;
}

.left2__pic img {
  width: 100%;
}

.right1 {
  background-color: #181818;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right1__hideblock {
  display: none;
}

.right1__title {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 25px;
  margin-bottom: 15px;
}

.right1__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 50%;
}

.right1__pic {
  border-radius: 15px;
  overflow: hidden;
  width: 40%;
}

.right1__pic img {
  width: 100%;
}

.right1__text {
  background-color: rgba(56, 56, 56, 0.082);
  letter-spacing: 1.4px;
  line-height: 1.3;
  border: 1px solid black;
  padding: 30px;
  width: 90%;
  color: rgba(221, 253, 253, 0.904);
  border-radius: 10px;
}

.right2 {
  height: 50%;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 10px;
}

.right2__title {
  display: none;
}

.right2__inner {
  width: 100%;
}

.resume__visualhide {
  display: none;
}

.hideleft {
  display: none;
}

.resume__visual {
  width: 70%;
}

.resume__visual img {
  width: 100%;
}

.resume__description {
  z-index: 5;
  line-height: 1.5;
  width: 90%;
  height: 75%;
  font-size: 15px;
  font-family: "Montserrat";
}

.description-resume {
  border-radius: 20px;
  color: rgba(221, 253, 253, 0.932);
  overflow: hidden;
}

.description-resume__title {
  background-color: rgba(56, 56, 56, 0.082);
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 10px;
}

.description-resume__stackBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
  border-radius: 10px;
}

.description-resume__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  background-color: rgba(56, 56, 56, 0.082);
  border: 1px solid black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.description-resume__item:hover {
  background-color: rgba(151, 151, 151, 0.11);
}

.portfolio {
  background-color: #181818;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 50px 50px;
}

.portfolio__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__title {
  font-size: 50px;
  font-weight: 500;
  color: #c3ffff;
}

.portfolio__centerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

.portfolio__block {
  margin: 0 auto;
  width: 75%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.portfolio__item {
  width: 28%;
  height: 45%;
  background: rgba(46, 45, 44, 0.096);
  border: 1px solid #ddfdfd;
  margin-bottom: 30px;
  overflow: hidden;
}

.portfolio__item img {
  width: 100%;
}

.portfolio__pic {
  z-index: -5;
}

.portfolio__item {
  background-color: wheat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__itemHoverWrapper {
  z-index: 6;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__itemHoverWrapper:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio__itemHoverWrapper:hover .portfolio__itemHover {
  opacity: 1;
}

.portfolio__itemHover {
  width: 100%;
  height: 100%;
  background-color: rgba(99, 98, 98, 0.658);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__itemHover:hover {
  opacity: 1;
}

.portfolio__itemHoverIcons {
  width: 200px;
  color: bisque;
}

.portfolio__itemTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #ddfdfd;
  text-transform: uppercase;
}

.portfolio__itemhoverBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__itemHoverLink {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__itemHoverLink:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio__itemHoverLupa {
  width: 30px;
  height: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__itemHoverLupa:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.popup {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .portfolio__item {
  pointer-events: none;
}

.popup__area {
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 250vh;
}

.popup__body {
  z-index: 1000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  z-index: 1000;
  width: 500px;
  height: 400px;
  position: relative;
  background-color: #e2e0dd;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}

.popup__pic {
  z-index: 1000;
  width: 100%;
}

.active1 {
  color: blue;
}

.contacts {
  height: 100vh;
  background-color: #181818;
  color: cornsilk;
}

.contacts__content {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
  height: 100%;
}

.contacts__content._active {
  opacity: 1;
  color: crimson;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.contacts__title {
  font-size: 50px;
  margin: 0 auto 20px;
  font-weight: 500;
  color: #c3ffff;
  padding: 30px;
}

.contacts__border {
  background-color: rgba(56, 56, 56, 0.082);
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
  border: 1px solid black;
}

.contacts__subtitle {
  text-align: center;
  color: #ddffff;
  margin-bottom: 30px;
  font-size: 40px;
}

.contacts__form {
  width: 50%;
  margin: 0 auto;
}

.form-body__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.form-body__name {
  border: 2px solid white;
  background-color: #424242;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  color: white;
}

.form-body__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.form-body__email {
  border: 2px solid white;
  background-color: #424242;
  padding-left: 10px;
  width: 100%;
  height: 45px;
  color: white;
}

.form-body__block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.form-body__subject {
  border: 2px solid white;
  background-color: #424242;
  padding-left: 10px;
  width: 100%;
  height: 45px;
  color: white;
}

.form-body__block4 {
  margin-bottom: 20px;
}

.form-body__input {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 2px solid white;
  background-color: #424242;
  color: white;
}

.form-body__block5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-body__button {
  width: 175px;
  min-width: 120px;
  line-height: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 12px;
  font-family: "RobotoSlab";
  text-transform: uppercase;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form-body__button:hover {
  background: #c0301c;
  color: #fff;
  font-weight: 600;
}

.form__button {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 0 auto;
}

.form__button:hover {
  background-color: #c73535;
  color: white;
}

@media (min-width: 767.98px) {
  .right1__text {
    height: 80%;
  }
}

@media (max-width: 991.98px) {
  .nav-header {
    display: none;
  }

  .menu__burger {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46px;
            flex: 0 0 46px;
    width: 36px;
    height: 30px;
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 7;
    padding: 10px 6px;
  }

  .menu__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #ddfdfd;
  }

  .menu__burger span:first-child {
    top: 0px;
  }

  .menu__burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .menu__burger._active {
    position: fixed;
    right: 20px;
    top: 10px;
  }

  .menu__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 2px);
  }

  .menu__burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }

  .menu__hide-menu._active {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 6;
  }

  .portfolio__block {
    width: 90%;
  }

  .portfolio__item {
    width: 31%;
    height: 28%;
    overflow: hidden;
    width: 43%;
  }
}

@media (max-width: 767.98px) {
  .banner__content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .banner__title {
    position: absolute;
    bottom: 15%;
    width: 100%;
    font-size: 45px;
  }

  .banner__photo {
    width: 100%;
  }

  .block-left {
    display: none;
  }

  .block-right {
    width: 100%;
  }

  .about__texthide {
    display: block;
    border: 1px solid #c3ffff;
    width: 80%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .visual-resume {
    background-color: red;
    height: 20%;
  }

  .visual-resume__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .visual-resume__blockTitle {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .left2__title {
    margin-bottom: 10px;
  }

  .right1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .right1__hideblock {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .right1__pic {
    width: 40%;
    padding: 20px 0px;
  }

  .right1__text {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
  }

  .right2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .right2__title {
    font-size: 35px;
    margin: 0 auto 50px;
    font-weight: 500;
    color: #ddfdfd;
    display: block;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 0;
    padding-top: 30px;
    padding-left: 20px;
  }

  .resume__visualhide {
    display: block;
    width: 90%;
    margin-bottom: 20px;
  }

  .hideleft {
    display: block;
  }

  .description-resume {
    height: 45%;
    border-radius: 0px;
  }

  .description-resume__title {
    font-size: 20px;
    border-radius: 0px;
  }

  .portfolio {
    padding: 0px;
  }

  .portfolio__title {
    font-size: 35px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 20px;
  }

  .portfolio__centerBlock {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .portfolio__block {
    width: 100%;
  }

  .contacts__title {
    margin-bottom: 0px;
    font-size: 40px;
  }

  .contacts__border {
    width: 90%;
  }

  .contacts__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .contacts__form {
    padding: 5px;
    width: 90%;
    border-radius: 0px;
  }

  .form-body__block1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form-body__name {
    width: 100%;
  }

  .form-body__block2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form-body__email {
    width: 100%;
  }

  .form-body__subject {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .banner__title {
    font-size: 35px;
  }

  .right1__pic {
    width: 50%;
    padding: 20px 0px;
  }
}