@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap&subset=cyrillic-ext");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

@font-face {
  font-family: "19849";
  font-display: swap;
  src: url("../fonts/19849.woff") format("woff"), url("../fonts/19849.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "20085";
  font-display: swap;
  src: url("../fonts/20085.woff") format("woff"), url("../fonts/20085.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "20076";
  font-display: swap;
  src: url("../fonts/20076.woff") format("woff"), url("../fonts/20076.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
  width: 100%;
}

.wrapper {
  min-width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #63c6ae;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 20%;
  padding: 25px 0px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding-right: 36px;
  text-align: right;
}

.header__menu {
  width: 80%;
}

.header__hide-menu {
  position: fixed;
  left: 100vw;
  top: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  font-weight: 600;
  background: #77787abd;
}

.header__hide-menu li {
  list-style-type: none;
}

.nav-header {
  width: 100%;
  height: 100%;
  padding: 25px 25px;
  background-color: #f8f8f8;
}

.nav-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-header li {
  margin-right: 14px;
  text-align: center;
}

.nav-header__link {
  font-size: 14px;
  font-family: "Sintony";
  color: #63c6ae;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.143;
}

.banner {
  padding-top: 315px;
  padding-bottom: 150px;
  background: url("../img/banner_bg.jpg") center 0 no-repeat;
}

.banner__title {
  margin: 0px auto 10px;
  padding: 40px 70px;
  max-width: 640px;
  background-color: #63c6ae;
  font-size: 26px;
  font-family: "Sintony";
  color: white;
  text-transform: uppercase;
  line-height: 1.8;
  text-align: center;
}

.banner__subtitle {
  margin: 0px auto 40px;
  max-width: 520px;
  font-size: 17px;
  font-family: "Sintony";
  color: white;
  background-color: #242a2c;
  line-height: 1.765;
  text-align: center;
}

.banner__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 160px;
  height: 60px;
  border: 1px solid White;
  border-radius: 3px;
  font-size: 20px;
  font-family: "Sintony";
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
}

.posts {
  padding: 50px 0px;
}

.posts__title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.slider-posts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.slider-posts__nav {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-posts__arrowPrev {
  cursor: pointer;
  width: 10px;
  height: 20px;
  background: url("../img/posts/arrow_prev.svg") no-repeat center;
}

.slider-posts__arrowNext {
  cursor: pointer;
  width: 10px;
  height: 20px;
  background: url("../img/posts/arrow_next.svg") no-repeat center;
}

.slider-posts__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
}

.slider-posts__dotts .swiper-pagination-bullet {
  cursor: pointer;
  margin: 0px 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 3px solid #929da5;
  opacity: 1;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.slider-posts__dotts .swiper-pagination-bullet::after {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fffefe;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9e9184;
}

.slider-posts__dotts .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #929da5;
}

.slider-posts__dotts .swiper-pagination-bullet-active::after {
  background-color: #9e9184;
  opacity: 1;
}

.posts-slide__images {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.posts-slide__pic img {
  width: 100%;
}

.posts-slide__textblock {
  margin: 0 auto;
  padding: 50px 20px 40px;
}

.posts-slide__title {
  font-size: 21px;
  font-family: "HelveticaNeue";
  color: #737c85;
  line-height: 1.286;
  text-align: left;
  margin-bottom: 30px;
}

.posts-slide__text {
  font-size: 14px;
  font-family: "HelveticaNeue";
  color: #929da5;
  line-height: 1.714;
  text-align: left;
}

.posts-slide__ava {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-41px);
      -ms-transform: translateX(-41px);
          transform: translateX(-41px);
  bottom: -41px;
  z-index: 4;
  width: 82px;
  height: 82px;
}

.posts-slide__ava img {
  width: 100%;
}

.articles__item img {
  width: 100%;
}

.articles__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.demonstration {
  padding: 123px 0px;
  background-color: #242a2c;
}

.demonstration__title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.demonstration__slider {
  position: relative;
}

.demonstration__arrowPrev {
  z-index: 3;
  cursor: pointer;
  background: url("../img/demonstration/arrow.png") 0 0 no-repeat;
  width: 22px;
  height: 45px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  top: 50%;
  left: 0;
}

.demonstration__arrowNext {
  z-index: 3;
  cursor: pointer;
  background: url("../img/demonstration/arrow.png") 0 0 no-repeat;
  width: 22px;
  height: 45px;
  position: absolute;
  top: 50%;
  right: 0;
}

.slider-demonstration__body {
  overflow: hidden;
}

.slider-demonstration__slide {
  padding: 0 40px;
  text-align: center;
}

.slider-demonstration__slide img {
  width: 75%;
}

.slider-demonstration__title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}

.slider-demonstration__pic {
  margin: 0 auto 30px;
  width: 70%;
  text-align: center;
}

.slider-demonstration__pic img {
  width: 100%;
}

.slider-demonstration__text {
  font-size: 18px;
  width: 60%;
  color: #fff;
  margin: 0 auto;
  line-height: 1.2;
}

.gallery {
  background-color: beige;
  padding: 100px 0px;
}

.gallery__title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__item {
  margin-bottom: 20px;
  width: 30%;
}

.gallery__item img {
  width: 100%;
}

.quote {
  background-color: #63c6ae;
}

.slider-quote {
  position: relative;
  padding: 50px 0px 80px;
}

.slider-quote__body {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.slider-quote__slide {
  padding: 0 30px;
}

.slider-quote__title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Sintony";
  color: white;
  line-height: 1.444;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 30px;
}

.slider-quote__subtitle {
  font-size: 15px;
  font-family: "Sintony";
  color: white;
  line-height: 1.444;
  text-align: center;
}

.slider-quote__arrowPrev {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 40%;
  background: url("../img/quote/quote_arrow.png");
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-quote__arrowNext {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 40%;
  background: url("../img/quote/quote_arrow.png");
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.slider-quote__dotts {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: -27.5px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.slider-quote__dotts .swiper-pagination-bullet {
  cursor: pointer;
  margin: 0px 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  opacity: 1;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #63c6ae;
}

.slider-quote__dotts .swiper-pagination-bullet::after {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fffefe;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9e9184;
}

.slider-quote__dotts .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}

.slider-quote__dotts .swiper-pagination-bullet-active::after {
  background-color: #9e9184;
  opacity: 1;
}

.footer {
  background-color: #242a2c;
  padding: 50px 0px 100px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  color: #454e51;
  width: 140px;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__description {
  width: 390px;
  font-size: 14px;
  font-family: "HelveticaNeue";
  color: #454e51;
  line-height: 1.714;
  text-align: left;
  margin-bottom: 30px;
}

.footer__text {
  width: 220px;
  font-size: 14px;
  font-family: "HelveticaNeue";
  color: #454e51;
  line-height: 1.714;
  text-align: left;
  margin-bottom: 30px;
}

.footer__nav {
  width: 120px;
  font-size: 14px;
  font-family: "HelveticaNeue";
  color: #454e51;
  font-weight: bold;
  line-height: 2.571;
  text-align: left;
}

@media (max-width: 991.98px) {
  .header__hide-menu._active {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
  }

  .articles__item {
    width: 33%;
  }

  .articles__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slider-quote__body {
    width: 95%;
  }

  .slider-quote__title {
    line-height: 1.444;
  }

  .footer {
    padding: 50px 0px 30px;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__logo {
    width: 90%;
  }

  .footer__description {
    width: 90%;
    margin-bottom: 30px;
  }

  .footer__text {
    width: 90%;
  }

  .footer__nav {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .header__burger {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36px;
            flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-color: #1d5856ce;
    display: block;
    position: fixed;
    right: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 7;
    padding: 10px 6px;
  }

  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 2px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
  }

  .header__burger span:first-child {
    top: 0px;
  }

  .header__burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .header__burger._active {
    position: fixed;
    right: 30px;
    top: 20px;
  }

  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .header__burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .nav-header {
    display: none;
  }

  .banner {
    padding-top: 150px;
  }

  .slider-demonstration__pic {
    width: 90%;
  }

  .slider-demonstration__text {
    width: 90%;
  }

  .gallery__item {
    width: 45%;
  }

  .gallery__item {
    width: 90%;
    margin: 0 auto 30px;
  }
}

.webp .banner{ background: url(../img/banner_bg.webp) center 0 no-repeat; }

.webp .demonstration__arrowPrev{ background: url(../img/demonstration/arrow.webp) 0 0 no-repeat; }

.webp .demonstration__arrowNext{ background: url(../img/demonstration/arrow.webp) 0 0 no-repeat; }

.webp .slider-quote__arrowPrev{ background: url(../img/quote/quote_arrow.webp); }

.webp .slider-quote__arrowNext{ background: url(../img/quote/quote_arrow.webp); }